* {
  box-sizing: border-box;
  font-family: "Bahnschrift", Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --swiper-theme-color: #fff;
  --swiper-navigation-size: 24px;
}

.cal-event {
  color: #000;
}
