* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-variation-settings: "wght" 200;
}

h1 {
  font-variation-settings: "wght" 300;
}

:root {
  --swiper-theme-color: #fff;
  --swiper-navigation-size: 24px;
}

.cal-event {
  color: #000;
}
