* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --swiper-theme-color: #fff;
  --swiper-navigation-size: 24px;
}

.cal-event {
  color: #000;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #181818;
}

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border: 4px solid transparent;
  border-radius: 100vw;
  background-clip: content-box;
}
